<div class="pjbyhvdj2 pjc70vw5k" v-if="dataReady">
    <emapm-form :model="model" v-model="formValue" :custom-vm="customVm" ref="form" :readonly="readonly" textalign>
    </emapm-form>

    <div style="height:10px"></div>
    <mt-layout-container v-if='editFlag' position="bottom" class="OPjbyoio4xh">
        <mt-hr></mt-hr>
        <mt-layout-container class="bh-bg-color-light sjas2k92v OPjbyoio55v" @click.native="saveSqcs">
            <mt-layout-container class="sjakudbpe">
                <mt-button type="primary" :disabled="false" :plain="false" size="normal" class="OSjakuh37h OPjbyoio5fc">确认</mt-button>
            </mt-layout-container>
        </mt-layout-container>
    </mt-layout-container>
</div>